.layout {
  width: 100vw;
  // min-height: 100vh;
  min-height: 200vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.navigation {
  background: rgba($layout_100, 0);
  box-shadow: 0 0 4px rgba(black, 0);
  position: fixed;
  width: 100vw;
  top: 0; left: 0;
  transition: background .3s ease-in-out, box-shadow .3s ease-in-out;
  will-change: transform;
  z-index: 10;
  
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: breakpoint(tablet)) {
      flex-wrap: wrap;
    }
  }
  .logo { z-index: 2 }
  .hamburger {
    position: relative;
    width: 50px; height: 50px;
    border: none;
    background: none;
    span {
      will-change: transform, width, opacity, top;
      display: block;
      position: absolute;
      left: 0;
      height: 3px;
      border-radius: 1px;
      background: $layout_100;
      transition: all .3s $spring_transition;
      &:nth-of-type(1) { width: 80%; top: 30% }
      &:nth-of-type(2) { width: 60%; top: 50% }
      &:nth-of-type(3) { width: 60%; top: 70% }
    }
    &:focus { outline: none }
    @media screen and (min-width: breakpoint(tablet)) {
      display: none;
    }
  }

  .menu {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in-out;
    .item {
      box-sizing: border-box;
      padding: 0 16px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: $layout_100;
        text-decoration: none;
        text-transform: uppercase;
        @media screen and (max-width: breakpoint(tablet)) {
          height: 60px;
          justify-content: flex-start;
          color: $layout_100 !important;
          font-size: 150%;
        }
      }
      @media screen and (max-width: breakpoint(tablet)) {
        transform: translateX(-100%);
        transition: transform .3s $spring_transition;
      }
    }
    .highlighter {
      position: absolute;
      left: 0; bottom: 20%;
      height: 3px;
      transition: all .2s $spring_transition;
      background: linear-gradient(to left, $accent_a, $accent_b);
      pointer-events: none;
      border-radius: 1px;
      @media screen and (max-width: breakpoint(tablet)) {
        display: none;
      }
    }
    @media screen and (max-width: breakpoint(tablet)) {
      box-sizing: border-box;
      flex-direction: column;
      padding: 100px 24px;
      position: absolute;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      padding-top: 100px;
      background: linear-gradient(to bottom, $brand_100, darken($brand_100, 5));
      pointer-events: none;
      opacity: 0;
    }
  }

  &.fixed {
    background: rgba($layout_100, 1);
    box-shadow: 0 0 4px rgba(black, .2);
    .menu .item a { color: $contrast_400 }
    .hamburger span { background: $brand_100 }
  }
  &.open {
    flex-wrap: wrap;
    .hamburger {
      z-index: 2;
      span { background: $layout_100 }
      span:nth-of-type(1) {
        transform: translate(5px, 9px) rotate(45deg);
        width: 80%; 
        top: 30%;
      }
      span:nth-of-type(2) { 
        width: 0%; 
        opacity: 0;
      }
      span:nth-of-type(3) {
        transform: translate(5px, -11px) rotate(135deg);
        width: 80%;
        top: 70%;
      }
    }
    .menu {
      opacity: 1;
      pointer-events: all;
      .item {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.footer {
  background: $layout_100;
  margin-top: auto;
  color: $contrast_400;
  .wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 2em;
    li { 
      height: inherit;
      white-space: nowrap;
      @media screen and (max-width: breakpoint(tablet)) {
        height: 2em;
      }
    }
    a {
      color: inherit;
      padding: 0 16px;
      text-decoration: none;
      .icon { 
        position: relative;
        transform: translate(-.8em, 10%) scale(2);
        transition: all .3s $spring_transition;
      }
      &:hover { 
        color: $brand_100;
        .icon { transform: translate(-.8em, 10%) scale(2.5) }
      }
    }
    @media screen and (max-width: breakpoint(tablet)) {
      flex-direction: column;
      height: initial;
    }
  }
}
